{{!-- Landing Page Handlebars(for signup and login) --}}

<div>
    <h1>Welcome to FOODGRAM</h1>
    <p>Hello foodie. We are delighted to welcome you to a world of food.</p>
    <br><br>
    <button type="button" onclick= "window.location.href='signup'" name="signup" id="signup">Sign-Up</button>
    <button type="button" onclick= "window.location.href='login'" name="login" id="login">Login</button>
</div>