<div>
    <h1>FOODGRAM</h1>
    <h2>Hello, {{username}}</h2>
    <label>
        <button type="submit" onclick= "window.location.href='users/myProfile'" id="myprofile" name="myProfile">View My Profile</button>
    </label>
    <label>
        <button type="button" onclick= "window.location.href='recipe/postArecipe'" id="postarecipe" name="postrecipe">Post A Recipe</button>
    </label>
    <br><br>
    <button onclick="window.location.href='recipe/searchArecipe'">SEARCH A RECIPE</button>
    <br><br>
    <button onclick="window.location.href='recipe/sortByDietaryTags'">SORT BY DIETARY TAGS</button>
    <br><br>
    <button onclick="window.location.href='recipe/sortedCuisine'">SORT BY CUISINE</button>
    <br><br>
    {{#if allRecipes}}
    {{#each allRecipes}}
    <ul>
        <li>
            <form method="post" value={{this._id}}>
            <a href="/recipe/post/{{this._id}}">{{recipeName}}</a>
            </form>
        </li>
    </ul>
    {{/each}}
    {{/if}}
    <a href="/logout">Log Out</a>
</div>