* {
  box-sizing: border-box;
}

html,
body {
  font-size: 10pt;
}

body {
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  max-width: 100%;
  margin: auto;
}
header {
  text-align: center;
  color: #df6648;
  border-bottom: 1px solid #c94d72;
}

ul {
  list-style-type: circle;
  color: rgb(130, 186, 196);
  font-size: 1.2rem;
  text-shadow: 0 0 4px;
}

h1 {
  color: rgb(242, 242, 247);
  margin-bottom: 5px;
  text-align: center;
  font-size: 5rem;
  background-color: #c37d00;
  text-shadow: 0 0 4px;
}

h2 {
  font-size: 1rem;
  text-align: center;
  color: rgb(20, 18, 18);
  font-size: 3rem;
  text-shadow: 0 0 4px;
}

.recipeDisplay {
  width: 100%;

  text-align: center;
}
.recipeList {
  display: inline-block;
  border: 5px solid #000;
  padding: 20px;
  margin-right: 10px;
  background-color: powderblue;
}
.recipeContent {
  border: 2px solid #000;
  padding: 20px;
  margin-right: 10px;
  background-color: cornsilk;
}
.recipeListImage {
  float: left;
  width: 300px;
  height: 200px;

  object-fit: cover;
}
.commentList {
  display: table;
  margin: 0 auto;
  border: 5px solid #000;
  padding: 20px;

  background-color: powderblue;
  text-align: center;
}
.comment {
  border: 2px solid #000;
  padding: 20px;

  background-color: maroon;
}
.photo {
  width: 400px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  object-fit: cover;
}

.table {
  display: table;
  margin: 0 auto;
}

h2.b {
  font-size: 1rem;
  text-align: center;
}

p {
  font-size: 1.25rem;
  line-height: 2;
  color: rgb(11, 11, 14);
  text-align: center;
}

dl {
  background: #000000;
  color: #dedede;
  display: block;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 0;
}

dd {
  margin: 1px 0;
  padding: 5px 0;
}
dt {
  margin: 2px 0;
  padding: 5px 0;
}
link {
  color: rgb(202, 133, 211);
  text-shadow: 0 0 4px;
  text-align: center;
}
form {
  text-align: center;
  font-size: 1.3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  color: rgb(163, 79, 79);
  text-shadow: 0 0 4px;
  font-size: 1.5rem;
}
a:hover {
  color: hotpink;
}
a:link,
a:visited {
  text-decoration: underline;
  display: inline-block;
}
label {
  text-shadow: 0 0 4px;
  font-size: 1.5rem;
  text-align: center;
}

#errorcheck {
  color: black;
  font-size: 1.3rem;
  text-align: center;
}

#m {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#submit {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#submit:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#comm {
  color: white;
}
h4 {
  text-align: center;
  color: wheat;
}

h3 {
  text-align: center;
  color: #917300;
}
#reset {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#reset:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#submit1 {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#submit1:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#submit2 {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#submit2:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#submit3 {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#submit3:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#postarecipe {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#postarecipe:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#myprofile {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#myprofile:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#buttonForDtags {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#buttonForDtags:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#buttonForCuisine {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#buttonForCuisine:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#sortLikesButton {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#sortLikesButton:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#defaultSortButton {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#defaultSortButton:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#likesButton {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#likesButton:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#profileButton {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#profileButton:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#recentsButton {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#recentsButton:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#edit {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#edit:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#profilePicture {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#profilePicture:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#submit5 {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#submit5:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#cancel {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#cancel:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#signup {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#signup:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#login {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#login:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#likeStatus {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#likeStatus:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#avatar {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#avatar:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}

#signup-form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 350px;
  width: 300px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 40px rgba(14, 11, 2, 0.178);
}
#login-form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 290px;
  width: 280px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 40px rgba(14, 11, 2, 0.178);
}
#post-a-recipe-form {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 635px;
  width: 700px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 40px rgba(14, 11, 2, 0.178);
}
#formForComment {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 350px;
  width: 400px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 40px rgba(14, 11, 2, 0.178);
}
#formForEditUser {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 400px;
  width: 400px;
  box-sizing: border-box;
  padding: 50px;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 0 40px rgba(14, 11, 2, 0.178);
}
#submit6 {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#submit6:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#submit7 {
  font-size: 14px;
  font-family: monospace;
  padding: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: rgb(40 97 182);
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 1px 1px 5px -2px black;
  transition-property: all;
  transition-duration: 300ms;
}
#submit7:hover {
  border: 1px solid rgb(40 97 182);
  color: rgb(40 97 182);
  background-color: white;
  box-shadow: 1px 1px 5px -2px black;
  padding-right: 20px;
}
#sid {
  text-align: left;
}
