<header>
	<title>{{user.username}} Edit</title>
</header>
<link rel='stylesheet' href='public/css/style.css'/>
    <form method="POST" action="/edit" id="formForEditUser">
        <label for="Profile Picture" >Profile Picture:</label><br>
        <input id="image" type="file" name="profilePicture" placeholder="Photo" required="" capture>
        <label for="Bio:" >Bio:</label><br>
        <input type="text" id="bio" name="bio" placeholder="Tell us about yourself..." ><br>
        <label for="password" >Favorite Recipe:</label><br>
        <input type="text" id="favoriteRecipe" name="favoriteRecipe" placeholder="What is your favorite recipe..."><br>
        <input type="submit" value="Submit" >
    </form>
    <div id="errorcheck">
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
    </div>
    <form action="/users/mypage" id="cancel" method="post"  >
        <input type="submit" value="Cancel" />
    </form>
    <script src="/public/js/ClientSideUpdateProfile.js"></script>