	<header>	
		<title>{{user.username}} Profile Page</title>
	</header>
    <meta charset="UTF-8">
<link rel='stylesheet' href='public/css/style.css'/>
    <h1>ERROR</h1>
    <h2 class='error'>{{error}}</h2>
    <label>
        <button type="submit" onclick= "window.location.href='/loggedin'" id="loggedin" name="loggedin">Return to Homepage</button>
    </label>

