	<header>
		<title>Error Edit</title>
	</header>
<link rel='stylesheet' href='public/css/style.css'/>
    <h1>ERROR</h1>
    <h2 class='error'>{{error}}</h2>
    <label>
        <button type="submit" onclick= "window.location.href='/users/myPage'" id="myPage" name="myPage">Return to your profile</button>
    </label>
